absl-py==0.8.1
aiohttp==3.7.4
appnope==0.1.0
asn1crypto==0.24.0
astor==0.8.0
astroid==1.6.2
async-timeout==3.0.1
asyncio==3.4.3
atari-py==0.2.6
attrs==19.3.0
awscli==1.16.258
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==3.1.0
blpapi==3.9.0
boto3==1.4.6
botocore==1.12.248
bs4==0.0.1
cachetools==3.1.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==1.2.2
coinbase==2.1.0
colorama==0.4.1
comtypes==1.1.4
coremltools==3.3
coverage==5.0.3
cryptography==2.2
cvxpy==1.0.31
cycler==0.10.0
Cython==0.29.14
dash-table-experiments==0.6.0
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.1.1
docutils==0.14
docx==0.2.4
ecos==2.0.7.post1
entrypoints==0.3
fancyimpute==0.5.4
flake8==3.7.9
forex-python==0.3.2
future==0.18.1
fuzzywuzzy==0.18.0
gast==0.2.2
geographiclib==1.50
geopy==1.21.0
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
grpcio==1.24.3
gym==0.15.3
h5py==2.10.0
html5lib==1.0.1
ib-api==0.9.70
ib-insync==0.9.23
ibapi==9.73.7
idna==2.6
idna-ssl==1.1.0
importlib-metadata==0.23
inflection==0.3.1
interpretableai==1.2.0
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.4
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.3
joblib==0.14.0
jsonschema==3.1.1
julia==0.5.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.0.1
knnimpute==0.1.0
lazy-object-proxy==1.3.1
llvmlite==0.31.0
lxml==4.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.2
mccabe==0.6.1
MechanicalSoup==0.12.0
mistune==0.8.4
mitdeeplearning==0.1.2
monzo==0.5.3
more-itertools==7.2.0
multidict==4.5.2
multiprocess==0.70.9
n26==0.1.3
nbconvert==5.6.1
nbformat==4.4.0
ndg-httpsclient==0.4.4
networkx==2.4
notebook==6.0.2
numba==0.48.0
numpy==1.17.3
oauthlib==3.1.0
odfpy==1.3.6
opencv-python==4.1.1.26
opt-einsum==3.1.0
osqp==0.6.1
packaging==20.0
pandas==0.25.3
pandas-datareader==0.6.0
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pdblp==0.1.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.1.1
plotly==2.5.0
pluggy==0.13.1
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.10.0
psycopg2-binary==2.8.1
ptyprocess==0.6.0
py==1.8.1
pyamex==0.2.1
pyarrow==0.15.1
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycparser==2.18
pycryptodome==3.5.1
pyflakes==2.1.1
pyglet==1.3.2
Pygments==2.4.2
pylint==1.8.3
PyMySQL==0.8.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyrsistent==0.15.5
pytest==5.3.4
pytest-cov==2.8.1
python-dateutil==2.8.1
python-docx==0.8.6
python-dotenv==0.8.2
python-Levenshtein==0.12.0
pytrends==4.7.2
pytz==2018.3
PyYAML==3.12
pyzmq==18.1.0
qtconsole==4.5.5
Quandl==3.3.0
regex==2020.1.8
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
requests-oauthlib==1.2.0
resampy==0.2.1
rsa==3.4.2
s3transfer==0.2.1
-e git+https://github.com/ezuccarelli/scikit-learn.git@00fe3d6944f91d52b24d0f59cc9a4dd83be99bcf#egg=scikit_learn
scikit-surprise==1.1.0
scipy==1.4.1
scrython==1.7.0
scs==2.1.2
seaborn==0.9.0
selenium==3.11.0
Send2Trash==1.5.0
shap==0.35.0
simplejson==3.11.1
six==1.13.0
sklearn==0.0
stable-baselines==2.8.0
statsmodels==0.11.1
surprise==0.1
tabulate==0.8.2
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.4
texttable==1.2.1
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
turicreate==6.1
typing-extensions==3.7.2
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xgboost==0.90
xlrd==1.1.0
yarl==1.3.0
zipp==0.6.0
